@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

/* Text Colors */
.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

.btn {
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.7;
}

.bg-light {
  background-color: #f4f4f4;
  color: #333;
}

.parallax {
  
  background-image: url("../img/profil.JPG");

  
  min-height: 500px;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
